<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{
  font-family: 'Roboto', sans-serif;
}

a{
text-decoration: none;
}
a:not(a::selection){
  color:#000fdc;
}

</style>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['\\(','\\)']]}});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
