<style>
a {
text-decoration: none;
}
.navbar {
  list-style-type:none;display:inline-block;margin:0;padding:0;height:35px;
  background-color: #089DDF;

}
.navbar li{
  color:#fff;font-size:15px;padding:0 15px;display:inline-block;display:inline-block;
  border-left:1px solid #149acb;height:100%;margin:0;line-height:35px;cursor:pointer;
}
.navbar a:visited,.navbar a:hover, .navbar a:link{
  color: #fff;
} 
</style>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['\\(','\\)']]}});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
