<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include a.html %}
</head>
<body>
<a href="//fllmathdroid.github.io">Main Page</a> | 
<a href="//fllmathdroid.github.io/CBO/">CBO</a> | 
<a href="//fllmathdroid.github.io/CCO/">CCO</a> | 
<a href="//fllmathdroid.github.io/CIO/">CIO</a> | 
<a href="//fllmathdroid.github.io/CMO/">CMO</a> | 
<a href="//fllmathdroid.github.io/COO/">COO</a> | 
<a href="//fllmathdroid.github.io/CPO/">CPO</a> | 
<a href="//fllmathdroid.github.io/CRO/">CRO</a> | 
<a href="//fllmathdroid.github.io/CVO/">CVO</a> | 
<a href="//fllmathdroid.github.io/TeamA">Team A</a>
<hr>
{{ content }}
</body>
