<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include a.html %}
</head>
<body>
<ul class="w3-navbar w3-card-2 w3-teal">
  <li><a href="//fllmathdroid.github.io">Home</a></li>
  <li><a href="//math-droid.github.io">Coaches Website</a></li>
  <li class="w3-dropdown-hover">
    <a href=//fllmathdroid.github.io/TeamInfo/>Information and sub-teams</a>
    <div class="w3-dropdown-content w3-aqua w3-card-4">
      <a href="//fllmathdroid.github.io/TeamA/">Team A</a>
      <a href="//fllmathdroid.github.io/TeamB/">Team B</a>
      <a href="//fllmathdroid.github.io/TeamC/">Team C</a>
      <a href="//fllmathdroid.github.io/TeamD/">Team D</a>
    </div>
    
  </li>
  <li><a href="//fllmathdroid.github.io/Coach/">Coach</a></li>
  <li><a href="//fllmathdroid.github.io/Help/">Help</a></li>
  <li class="w3-dropdown-hover">
     Individual pages
  <div class="w3-dropdown-content w3-aqua w3-card-4">
     <a href="//fllmathdroid.github.io/CBO/">Chief Building Officer</a>
     <a href="//fllmathdroid.github.io/CBO/">Chief Building Officer</a>
     <a href="//fllmathdroid.github.io/CBO/">Chief Building Officer</a>
     <a href="//fllmathdroid.github.io/CBO/">Chief Building Officer</a>
     <a href="//fllmathdroid.github.io/CBO/">Chief Building Officer</a>
     <a href="//fllmathdroid.github.io/CBO/">Chief Building Officer</a>
     <a href="//fllmathdroid.github.io/CBO/">Chief Building Officer</a>
  </div></li>
</ul>
{{ content }}
</body>
