<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include a.html %}
</head>
<body>
   <div style="width: auto; border-bottom-left-radius: 1em; border-bottom-right-radius: 1em;">
<ul class="navbar" style="width: 100%; text-align: center; border-bottom-left-radius: 1em; border-bottom-right-radius: 1em;">
<li><a href="//fllmathdroid.github.io">Main Page</a> </li>
<li><a href="//fllmathdroid.github.io/CBO/">CBO</a> </li>
<li><a href="//fllmathdroid.github.io/CCO/">CCO</a> </li>
<li><a href="//fllmathdroid.github.io/CIO/">CIO</a> </li>
<li><a href="//fllmathdroid.github.io/CMO/">CMO</a> </li>
<li><a href="//fllmathdroid.github.io/COO/">COO</a> </li>
<li><a href="//fllmathdroid.github.io/CPO/">CPO</a> </li>
<li><a href="//fllmathdroid.github.io/CRO/">CRO</a></li>
<li><a href="//fllmathdroid.github.io/CVO/">CVO</a></li>
<li><a href="//fllmathdroid.github.io/TeamA">Team A</a> </li>
<li><a href="//fllmathdroid.github.io/TeamB">Team B</a> </li>
<li><a href="//fllmathdroid.github.io/TeamC">Team C</a> </li>
<li><a href="//fllmathdroid.github.io/TeamD">Team D</a> </li>
<li><a href="//fllmathdroid.github.io/TeamInfo">Team Info</a> </li>
</ul>
</div>
{{ content }}
</body>
